.main-content {
    height: 80%;
    overflow: auto;
}
.navbar {
    background-color: #99ccff;
}
.navbar-brand, .nav-link {
    color: #2d55c2; /* white */
}
.footer {
    height: 10%;
}
.mainpage{
    background-image: url("../images/clinic_photo.jpg");

}