.main-content {
    height: 75%;
    overflow: auto;
}
.navbar {
    background-color: #99ccff;
}
.navbar-brand, .nav-link {
    color: #2d55c2; /* white */
}
.footer {
    height: 10%;
}
.mainpage{
    background-color: #93c4ff;
}